@using Schemes
@model List<Schemes.ViewPost>
@foreach (ViewPost post in Model)
{
    <br>
    <div class="thumbnail">
        <div class="col">
            <dl class="dl-horizontal">
                <dd>
                    @if (post.post.title != null)
                    {
                        <h3>  @Html.ActionLink(post.post.title, "PostPage", "Post", new { id = post.post.id }, null)  </h3>
                    }
                </dd>
                <dd>
                    Автор:  @Html.ActionLink(post.UserEmail, "UserPage", "Account", new { id = post.post.UserId }, null)
                </dd>
                <dd>
                    @foreach (var tag in post.tags)
                    {
                        @Html.ActionLink("#" + tag.tagName, "Index", "Home", new { tagId = tag.id }, null)
                        if (tag != post.tags[post.tags.Count - 1])
                        {
                            @:,
                        }
                    }
                </dd>
                <dd>
                    @post.post.description
                </dd>
                <dd>
                    @post.post.rating
                </dd>
                <div align="right">
                    <dd>
                        @post.post.time
                    </dd>
                </div>
            </dl>
        </div>
    </div>
}
