@model Schemes.Post
@if (Model.id == 0)
{
    <h2>@Resources.Resource.AddPost</h2>
}
else
{
    <h2>@Resources.Resource.ChangePost</h2>
}
<style>
    hr {
        border: none;
        background-color: gray;
        height: 1px;
    }
</style>
<form action="" method="post">
    <hr>
    <div class="row">
        <div class="col-sm-5">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.UserId)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="action:EditorApp" value=@Resources.Resource.AddScheme class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Resources.Resource.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Resources.Resource.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.teme, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.teme, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Resources.Resource.Тags, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tags, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tags, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Resources.Resource.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.description, 4, 105, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="action:CreatePost" value=@Resources.Resource.Save class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            @if (Model.image != null)
            {
                <td>
                    @Html.Raw(ViewBag.HtmlRaw
                        + Convert.ToBase64String(Model.image) + "\" />")
                </td>
            }


        </div>
    </div>

</form>
