@using Microsoft.AspNet.Identity
@model Schemes.ViewPost
@{
    ViewBag.Title = "PostPage";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" src="rating.css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-rating/bootstrap-rating.js"></script>
<link rel="stylesheet" type="text/css" src="rating.css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-rating/bootstrap-rating.js"></script>

<div align="center">
    <h2>@Model.post.title</h2>
</div>
<style>
    hr {
        border: none;
        background-color: gray;
        height: 1px;
    }
</style>
<p class="text-success">@ViewBag.StatusMessage</p>
<style>
    .col {
        width: 700px; /* Ширина блока */
        padding: 10px; /* Поля */
        word-wrap: break-word;
    }
</style>

<div class="row">
    <hr>
    <div class="col-sm-5">

        <dt>@Resources.Resource.Author:</dt>
        <dd>
            @Html.ActionLink(Model.UserEmail, "UserPage", "Account", new { id = Model.post.UserId }, null)

            <dt>@Resources.Resource.Theme:</dt>
        <dd>
            @Model.post.teme
        </dd>
        <dt>@Resources.Resource.Тags:</dt>
        <dd>
            @foreach (var tag in Model.tags)
            {
                @Html.ActionLink("#" + tag.tagName, "Index", "Home", new { tagId = tag.id }, null)
                if (tag != Model.tags[Model.tags.Count - 1])
                {
                    @:,
                }
            }
        </dd>

        <dt>@Resources.Resource.Description:</dt>
        <dd>
            @Model.post.description
        </dd>
        <dt>@Resources.Resource.Date:</dt>
        <dd>
            @Model.post.time
        </dd>


        @if ((Model.post.UserId == User.Identity.GetUserId()) || (User.IsInRole("admin")))
            {
                using (Html.BeginForm("CreatePost", "Post", FormMethod.Get))
                {
                <input type="hidden" name="id" value=@Model.post.id />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="ButtonChange" type="submit" class="btn btn-default" value=@Resources.Resource.ChangePost />
                    </div>
                </div>
            }
            <br>
            <br>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="ButtonDelete" type="button" value=@Resources.Resource.DeletePost class="btn btn-danger" onclick="if (confirm(@Resources.Resource.ConfirmText)) location.href='@Url.Action("DeletePost", "Post", new { id = Model.post.id })'" />
                </div>
            </div>
        }
    </div>
    <div class="col-sm-7">
        @if (Model.picture.Image != null)
            {
            <td>
                <br />
                <br />
                @Html.Raw(Model.picture.HtmlRaw
                        + Convert.ToBase64String(Model.picture.Image) + "\" />")
            </td>
        }
    </div>
</div>
<hr>
<br />

@{
    var url = Request.Url.AbsolutePath;
}
<div class="tr">
    <div class="td">@Html.Partial("_VoteNow", Model.post.id.ToString())</div>
    @if (Request.Cookies[url] != null)
            {
        <div class="td">@Html.Partial("_VoteShow", Model.post.Votes)</div>
    }
</div>



<!doctype html>
<html ng-app="todoApp">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/todo.js"></script>
</head>
<body>
    <div ng-controller="TodoListController as todoList">
        <form ng-submit="postComment()">
            <input type="text" ng-model="todoList.todoText" size="30"
                   placeholder="add new comment here" id="Add">
            <input class="btn-primary" type="submit" value="add">
        </form>

        <dl class="dl-horizontal">
            <dd ng-repeat="todo in todoList.todos">
                <div class="thumbnail">
                    <div class="col">
                        <dl class="dl-horizontal">
                            <dd>
                                {{todo.EmailAutor}}
                            </dd>
                            <dd>
                                {{todo.CommentText}}
                            </dd>
                            <dd>
                                {{todo.time}}
                            </dd>
                            <button id="btnDel" dojotype="dijit.form.Button" onclick="addLike(id)">
                                {{todo.likes}}
                            </button>
                        </dl>
                    </div>
                </div>
            </dd>

        </dl>
        
        <label text="text" runat="server" />
    </div>
</body>
</html>


