
@model List<Schemes.ViewPost>
@{
    ViewBag.Title = Resources.Resource.MainPage;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .col {
            width: 700px; /* Ширина блока */
            padding: 10px; /* Поля */
            word-wrap: break-word;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/Buttons.css" />
</head>
<body>

    <div class="parent">
        <div class="child">
            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="form-group">
                    <input type="hidden" name="sort" value="DateUp" />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Дата ↑" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>

        <div class="child">

            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="form-group">
                    <input type="hidden" name="sort" value="DateDown" />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Дата ↓" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <div class="child">
            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="form-group">
                    <input type="hidden" name="sort" value="RateUp" />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Рейтинг ↑" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <div class="child">
            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="form-group">
                    <input type="hidden" name="sort" value="RateDown" />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Рейтинг ↓" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div id="scrolList">
                @Html.Partial("Tape")
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                @Html.Partial("TagCloud")
            </div>
        </div>

    </div>

    <div id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
$(function () {

    $('div#loading').hide();

    var page = 0;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();
            $.ajax({
                type: 'GET',
                url: '/Home/Index/' + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    // обработка события скроллинга
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadItems();
        }
    });
})
    </script>
</body>
</html>
