@model Schemes.Models.IndexViewModel
@{
    ViewBag.Title = Resources.Resource.Control;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Resources.Resource.ChangeParametrs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resource.Password :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resources.Resource.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resources.Resource.Create, "SetPassword")
            }
            ]
        </dd>
        
    </dl>
    
</div>

