@model Schemes.ViewUser
@{
    ViewBag.Title = Resources.Resource.UserPage;
}

<div align="center"><h2>@ViewBag.Title.</h2></div>
<style>
    .col {
        width: 700px; /* Ширина блока */
        padding: 10px; /* Поля */
        word-wrap: break-word;
    }
</style>
<style>
    hr {
        border: none;
        background-color: gray;
        height: 1px;
    }
</style>
<div class="row">
    <hr>
    <div class="col-sm-8">
        @if (Model.picture.Image != null)
            {
            <td>
                @Html.Raw(Model.picture.HtmlRaw
                        + Convert.ToBase64String(Model.picture.Image) + "\" />")
            </td>
        }
        <br>

        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <input type="hidden" name="modelId" value=@Model.id />
                    @Html.ValidationSummary(true)
                    <fieldset>
                        @if (Model.isUser)
                {
                            <div class="editor-field">
                                <input type="file" name="uploadImage" class="btn btn-default" />
                            </div>

                            <p>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value=@Resources.Resource.Add class="btn btn-success" />
                                    </div>
                                </div>
                            </p>
                        }

                    </fieldset>
        }
        @using (Html.BeginForm("Delete", "Account"))
            {
                if ((Model.isUser) || (User.IsInRole("admin")))
                {
                <div class="form-group">
                    <input type="hidden" name="id" value=@Model.id />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@Resources.Resource.DeleteAvatar class="btn btn-danger" />
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-sm-4">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>@Resources.Resource.PersonalInformation</h4>
            <dl class="dl-horizontal">
                @if (Model.isUser)
            {
                    <dt>@Resources.Resource.Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink(Resources.Resource.ChangePassword, "ChangePassword", "Manage")
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Resource.Create, "SetPassword", "Manage")
                        }
                        ]
                    </dd>
                }

                <dt>@Resources.Resource.Surname:</dt>
                <dd>
                    @Model.surname
                </dd>
                <dt>@Resources.Resource.Name:</dt>
                <dd>
                    @Model.name
                </dd>
                <dt>@Resources.Resource.Patronymic:</dt>
                <dd>
                    @Model.patronymic
                </dd>
            </dl>
            @if ((Model.isUser) || (User.IsInRole("admin")))
            {
                using (Html.BeginForm("ChangeData", "Account", FormMethod.Get))
                {
                    <input type="hidden" name="modelId" value=@Model.id />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="ButtonChange" type="submit" class="btn btn-default" value=@Resources.Resource.ChangeFIO />
                        </div>
                    </div>
                }
            }
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<hr>

@{ int posts = Repository.GetNumberOfPosts(Model.id);
    if (posts >= 10)
    {
        <p>
            <a>
                <img src="~/Images/10.gif"
                     width="20" height="35">
            </a>
            @Resources.Resource.GetMedalP1 10 @Resources.Resource.GetMedalP2
        </p>
        <br />
    }
    if (posts >= 25)
    {
        <p>
            <a>
                <img src="~/Images/25.gif"
                     width="20" height="35">
            </a>
            @Resources.Resource.GetMedalP1 25 @Resources.Resource.GetMedalP2
        </p>
        <br />
    }
    if (posts >= 50)
    {
        <p>
            <a>
                <img src="~/Images/50.gif"
                     width="20" height="35">
            </a>
            @Resources.Resource.GetMedalP1 50 @Resources.Resource.GetMedalP2
        </p>
        <br />
    }
    if (posts >= 100)
    {
        <p>
            <a>
                <img src="~/Images/100.gif"
                     width="20" height="35">
            </a>
            @Resources.Resource.GetMedalP1 100 @Resources.Resource.GetMedalP2
        </p>
        <br />
    }
    if (posts >= 150)
    {
        <p>
            <a>
                <img src="~/Images/150.gif"
                     width="20" height="35">
            </a>
            @Resources.Resource.GetMedalP1 150 @Resources.Resource.GetMedalP2
        </p>
        <br />
    }
}

<div align="center"><h2>@Resources.Resource.UserPosts</h2></div>

@foreach (ViewPost post in Model.posts)
{ <br>
    <div class="thumbnail">
        <div class="col">
            <dl class="dl-horizontal">
                <dd>
                    @if (post.post.title != null)
                    {
                        <h3>  @Html.ActionLink(post.post.title, "PostPage", "Post", new { id = post.post.id }, null)  </h3>
                    }
                </dd>
                <dd>
                    Автор:  @Html.ActionLink(post.UserEmail, "UserPage", "Account", new { id = post.post.UserId }, null)
                </dd>
                <dd>
                    @post.post.tags
                </dd>
                <dd>
                    @post.post.description
                </dd>
                <div align="right">
                    <dd>
                        @post.post.time
                    </dd>
                </div>
            </dl>
        </div>
    </div>
}


